@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap");

::selection {
  background: #a3030355;
}

::-moz-selection {
  background: #a3030355;
}

body {
  font-family: Montserrat;
  background-color: white;
}

.page-container,
.page-container > .row {
  min-height: 100vh;
}

img {
  user-select: none;
}

h1 {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 4.2em;
}

h1 span {
  color: #a30303;
}

button {
  border: none;
  padding: 0.42em 1.25em;
  border-radius: 1px;
  font-weight: 500;
  user-select: none;
  background-color: #eee;
}

button:focus {
  outline: none;
}

.button-row button {
  margin-right: 0.42em;
  margin-bottom: 0.42em;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.42em;
  }
}
